@import "reset.css";

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #282c34;
  color: white;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.App-header {
  text-align: center;
  padding: 1rem 0;
  /* background: lightskyblue; */
}

.input-field-adduser {
  margin-right: 1rem;
  width: 11rem;
  height: 1.3rem;
}

button:hover,
.input-button:hover {
  cursor: pointer;
}

button,
.input-button {
  font-size: 1rem;
}

.input-button {
  margin-top: 1rem;
}

/* MAIN COMPONENT */
.main-wrap {
  /* background: pink; */
  /* max-width: 40rem; */
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}


/* ARTIST LIST */
li {
  list-style-type: none;
  font-size: 1rem;
}

.artists-list {
  padding-top: 1rem;
}

.artists-li,
.streams-li {
  /* background: lightblue; */
  padding: .5rem .5rem;
  border-bottom: 1px solid #5c5c5c87;
}

.results {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

li.streams-li:hover {
  /* cursor: pointer; */
  background: #64676dbd !important;
}

.thumbnail-img {
  padding-right: 1rem;
}

.stream-url {
  color: white;
  text-decoration: none;
}

.stream-url:hover {
  text-decoration: underline;
}


/* Footer Component */
.footer-wrap {
  /* background: blueviolet; */
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.github-repo {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.github-repo:hover {
  text-decoration: underline;
}